/* UTILITY */


header #jumbo-cont{
    /* height:500px; */
    padding:15px;
    text-align: center;
}

.text-align-center{
    text-align: center;
}

.padding-t-b{
    padding: 20px 0;
}

#jumbo{
    margin: auto;
    height:300px;
    border: 1px solid black;
    padding-top
}

#jumbo-img{
   width:300px;
   height:280px;
   margin:auto;
   border:1px solid black;
}

.cards{
    height:150px;
    border: 1px solid black;
    flex-wrap: nowrap;
    margin-right: 5px;
    margin-bottom:5px;
    padding-bottom: 10px;
}
.bg-success{
    margin-top: 10px;
}

.section1-text{
    padding:20px;
}

.section1-title{
    padding:35px;
}

footer{
    margin-top: 15px;
}

footer .container:first-child{
    padding: 35px 0;
}

.footer-copy{
    padding:30px;
    color:white;
}

.darkgray{
    background-color: darkslategray;
}
.nav-h3-cell{
    font-size: 15px;
}

#burger{
    display: inline-block;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-h3-cell{
        font-size: 30px;
    }
 }
 
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* #burger{
        display: none;
    } */
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* #burger{
        display: none;
    } */
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* #burger{
        display: none;
    }
 } */