/* UTILITY */
.aqua{
    background-color: #1ABC9C;
}



h1, h2{
    text-transform: uppercase;
}

header #jumbo-cont{
    /* height:500px; */
    padding:15px;
    text-align: center;
}

.text-align-center{
    text-align: center;
}

.padding-t-b{
    padding: 20px 0;
}

#jumbo{
    margin: auto;
    height:300px;
    border: 1px solid black;
    padding-top
}





footer{
    margin-top: 15px;
}

footer .container:first-child{
    padding: 35px 0;
}

.footer-copy{
    padding:30px;
    color:white;
}

.darkgray{
    background-color: darkslategray;
}

/* in su da cancellare */

/* si parte da qui */

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.aqua img{
    width:200px;
    padding: 20px 0;
}

.nav-h3-cell{
    font-size: 15px;
}

#burger{
    display: inline-block;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\ / HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN  \\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* \\\\\\\ JUMBOTRON \\\\\\\\\ */
.star{
    font-size:30px;
    color:white;
}

.star::after{
    content: '';
    border: 2px solid white;
    background-color: white;
    display: inline-block;
    width: 10%;
    margin:0 0 10px 5px;
    border-radius: 10px;
}

.star::before{
    content: '';
    border: 2px solid white;
    background-color: white;
    display: inline-block;
    width: 10%;
    margin:0 5px 10px 0;
    border-radius: 10px;

}

/* \\\\\\\  /JUMBOTRON \\\\\\\\\ */

/* \\\\\\\\\\ CARD SECTION \\\\\\\ */
#star_dark{
    color: #2C3E50;
    border-color: #2C3E50;
    
}

#star_dark::before, 
#star_dark::after{
    border-color: #2C3E50;
    background-color:#2C3E50 ;
}

#my_cards img{
    width:100%;
    flex-wrap: wrap;
    margin: 10px;
}

/* \\\\\\\\\\   /CARD SECTION \\\\\\\ */

/* \\\\\\\\\\ ABOUT SECTION \\\\\\\ */
.about_section{
    width:100%;
}

/* \\\\\\\\\\  / ABOUT SECTION \\\\\\\ */

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\  / MAIN  \\\\\\\\\\\\\\\\\\\\\\\\\\\*/



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-h3-cell{
        font-size: 30px;
    }
    .aqua img{
        width:150px;
    }
    #about p{
        text-align: left;
    }
    
 }
 
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* #burger{
        display: none;
    } */
    .aqua img{
        width:200px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* #burger{
        display: none;
    } */
    .aqua img{
        width:280px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .aqua img{
        width:350px;
    }
    
 } 